<div class="container">
  <p style="text-align: center; font-size: 4em"> Todo List</p>
  <div class="form-group" style="padding-left: 3em">
  <input [(ngModel)]="inputDataTitle" style="text-align: center" placeholder="Titre de votre tâche" required>
  <input [(ngModel)]="inputDataDescription" style="text-align: center" placeholder="Décrivez votre tâche" required>
  <button *ngIf="inputDataTitle && inputDataDescription" (click)="add()" type="submit"> ajouter une tache à la liste</button>
  </div>
  <ul *ngFor="let listTodo of listTodo; index as i;" style="padding-top: 1em ; align-items: center">
      <div class="list-group-item">
      <input type="checkbox" [(ngModel)]="listTodo.state" (click)="checkAndSort(i)">
      <div *ngIf="listTodo.state" class="maclasse">Terminée : {{listTodo.title}}</div>
      <div *ngIf="!listTodo.state">A faire : {{listTodo.title}}</div>
      </div>
  </ul>
</div>

